/* accomodate every size screen by default */
/* tested on crome, crome mobile, safari, firefox, edge */


/*
[[Slide In From | enum(top,bottom,right,left) | bottom | {required: true, group: General, groupOrder: 1, order: 1} ]]
[[Vertical Position | enum(top,bottom) | bottom | {required: true, group: General, order: 2} ]]
[[Horizontal Position | enum(left,right) | right | {required: true, group: General, order: 3} ]]
[[Background colour | colour | #333 | {group: General, order: 4} ]]
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Arial|{order: 5, group: Text, groupOrder: 2, order: 1}]];
[[Text Colour | colour | #fff | {group: Text, order: 1} ]]
[[Text Size | number | 18 | {required: true, group: Text, order: 3} ]]
[[X Color | colour | #fff  | {group: Closing Button, groupOrder: 4}]]
*/


/* experience container styling */
#bx-{{ref}} #bx-transition-card {
    position: fixed;
    width: 500px;
    z-index: 999999;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: rgba(50,50,50,0.9);
    overflow: hidden;
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0,0,0,.1);
    max-width:90%;
    font-family:[[ Font ]];
    transition: .6s ease-out;
    background-color: [[Background colour ]];
    color: [[Text Colour ]];
}
/* Position animations */
#bx-{{ref}} #bx-transition-card.position-right-top.animate-top {
  top: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-left-top.animate-top {
  top: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-right-top.animate-bottom {
  top: calc(100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-left-top.animate-bottom {
  top: calc(100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-left-bottom.animate-right {
  left: calc(100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-left-top.animate-left {
  left: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-left-bottom.animate-left {
  left: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-left-top.animate-right {
  left: calc(100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-right-bottom.animate-left {
  right: calc(100vh + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-right-top.animate-left {
  right: calc(100vh + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-right-bottom.animate-right {
  right: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-right-top.animate-right {
  right: -1000px;
}
#bx-{{ref}} #bx-transition-card.position-right-bottom.animate-bottom {
  bottom: calc(-100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-left-bottom.animate-bottom {
  bottom: calc(-100vw + 1000px);
}
#bx-{{ref}} #bx-transition-card.position-right-bottom.animate-top {
  bottom: 1000px;
}
#bx-{{ref}} #bx-transition-card.position-left-bottom.animate-top {
  bottom: 1000px;
}
/* End position animations */

#bx-{{ref}} #bx-transition-card.open {
    [[ Vertical Position ]]: 10px !important;
    [[ Horizontal Position ]]: 10px !important;
}

#bx-{{ref}} #bx-transition-card .bx-transition-card__body {
    padding: 10px 0px 10px 0px;
}

#bx-{{ref}} #bx-transition-card .bx-transition-card__body p {
    padding: 12px 0;
    margin: 0px 35px 0px 35px;
    font-size: [[Text Size ]]px;
    line-height: 28px;
    text-align: left;
    font-family:[[Font]];
}

/* closing Button on Hover, focus, active */
#bx-{{ref}} #bx-transition-card .bx__btn-close:hover,
#bx-{{ref}} #bx-transition-card .bx__btn-close:focus,
#bx-{{ref}} #bx-transition-card .bx__btn-close:active {
    background-color: transparent;
    box-shadow: none;
    color: #333;
    text-decoration: none !important;
    cursor: pointer;
}

/* close button */
#bx-{{ref}} #bx-transition-card .bx__btn-close {
  border-radius: 12px;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin-top: 23px;
    margin-right: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* close button right side of X  */
#bx-{{ref}} #bx-transition-card .bx__btn-close:after {
  background: transparent;
  content: "";
  height: 24px;
  border-left: 3px solid [[ X Color ]];
  position: absolute;
  margin: auto;
  transform: rotate(45deg);
}

/* close button left side of X  */
#bx-{{ref}} #bx-transition-card .bx__btn-close:before {
  background: transparent;
  content: "";
  height: 24px;
  border-left: 3px solid [[ X Color ]];
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}